<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SqlLoadGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="SqlConnection"
         connectionString="data source=192.168.5.105;initial catalog=telemetry;user id=sa;password=Abc1234567890;MultipleActiveResultSets=True;App=LoadGenerator" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <userSettings>
    <SqlLoadGenerator.Properties.Settings>
      <setting name="Spike_NumRowsToInsert" serializeAs="String">
        <value>200000</value>
      </setting>
      <setting name="Spike_NumParallelClients" serializeAs="String">
        <value>1</value>
      </setting>
    </SqlLoadGenerator.Properties.Settings>
  </userSettings>
</configuration>