<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="SqlConnection"
         connectionString="data source=SERVER;initial catalog=taxidata;user id=USERNAME;password=PASSWORD;MultipleActiveResultSets=True;App=SqlSecurityClient" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>